.questions{
    margin-top: 50px;
}

.questions-list-text{
    font-size: 24px;
    color: #5A5A5A;
}

.add-question{
    background-color: unset;
    border: unset;
}

.add-question>span{
    font-size: 14px;
    color: #BFBFBF;
}

.add-questions-btn{
    width: 24px;
    height: 24px;
}

.questions-box{
    background-color: #FFFCFC;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0, 12%);
    height: 300px;
    padding: 20px;
    overflow-y: scroll;
}

.questions-box::-webkit-scrollbar {
    width: 10px;
}

.questions-box::-webkit-scrollbar-track {
    background: unset;
}

.questions-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

.questions-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}

